<?xml version='1.0' encoding='utf-8'?>
<widget id="Final" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Colts Fandom</name>
    <description>
        A fun, informational application for all fans of the Indianapolis Colts.
    </description>
    <author email="bradyllewis@gmail.com" href="http://bradylennon.com">
        Brady Lewis
    </author>
    <content src="index.html" />
    <access origin="*" />

    <icon src="icon.png" />
	<gap:splash src="splash.png" />

	<gap:platform name="ios" />
	<gap:platform name="android" />


    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19" />


<gap:plugin name="org.apache.cordova.vibration" version="0.3.11" />
</widget>
